body{
  margin: 0px;
}

.wrapperApp {
  position: relative;
  width: 100%;
  overflow: hidden; /* Щоб обрізати частину круга */
}

.photo-right {
  position: absolute;
  right: -2px;
  top: 1%;
width: 500px;
}
.background-photo {
  width: 650px;
position: absolute;
top: 10px;
}